3rd Year C# NGO Fund Raiser/3rd Year C# NGO Fund Raiser/Project_Leap_V3/Project_Leap_V3/Service References/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53319/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Project_Leap_Web_Service" />
  <xs:import schemaLocation="http://localhost:53319/Service1.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="CaptureVolTimeMobile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="volID" type="xs:int" />
        <xs:element minOccurs="0" name="hours" type="xs:int" />
        <xs:element minOccurs="0" name="comment" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CaptureVolTimeMobileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CaptureVolTimeMobileResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkBadge">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:int" />
        <xs:element minOccurs="0" name="BadgeID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkBadgeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkBadgeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getNumOfBadgesEarned">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getNumOfBadgesEarnedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getNumOfBadgesEarnedResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllDailyDonations">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orgID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllDailyDonationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Project_Leap_Web_Service" minOccurs="0" name="getAllDailyDonationsResult" nillable="true" type="q1:ArrayOfreportDonation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllDailyDonationsUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllDailyDonationsUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Project_Leap_Web_Service" minOccurs="0" name="getAllDailyDonationsUserResult" nillable="true" type="q2:ArrayOfreportDonation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getVolunteersByProvince">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getVolunteersByProvinceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Project_Leap_Web_Service" minOccurs="0" name="getVolunteersByProvinceResult" nillable="true" type="q3:ArrayOfreportVolunteers" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSystemFund">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getSystemFundResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Project_Leap_Web_Service" minOccurs="0" name="getSystemFundResult" nillable="true" type="q4:ArrayOfreportDonation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTopBusDon">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getTopBusDonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Project_Leap_Web_Service" minOccurs="0" name="getTopBusDonResult" nillable="true" type="q5:ArrayOfreportBusDon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getFCReports">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orgID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getFCReportsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Project_Leap_Web_Service" minOccurs="0" name="getFCReportsResult" nillable="true" type="q6:ArrayOfreportFC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getVolsShowingUp">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orgID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getVolsShowingUpResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getVolsShowingUpResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getFCSuccessRate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orgID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getFCSuccessRateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getFCSuccessRateResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getNPOActivity">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getNPOActivityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Project_Leap_Web_Service" minOccurs="0" name="getNPOActivityResult" nillable="true" type="q7:ArrayOfactivity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MostActiveUser">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MostActiveUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Project_Leap_Web_Service" minOccurs="0" name="MostActiveUserResult" nillable="true" type="q8:ArrayOfreportBusDon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="targetedDonations">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="targetedDonationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="targetedDonationsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TypeMostSupportInArea">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Province" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TypeMostSupportInAreaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Project_Leap_Web_Service" minOccurs="0" name="TypeMostSupportInAreaResult" nillable="true" type="q9:Support" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MostSupportByType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MostSupportByTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Project_Leap_Web_Service" minOccurs="0" name="MostSupportByTypeResult" nillable="true" type="q10:Support" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MostSupportInType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MostSupportInTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Project_Leap_Web_Service" minOccurs="0" name="MostSupportInTypeResult" nillable="true" type="q11:ArrayOfSupport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NumOfOrgByIndustry">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Industry" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NumOfOrgByIndustryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NumOfOrgByIndustryResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDailyUserRegistration">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getDailyUserRegistrationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Project_Leap_Web_Service" minOccurs="0" name="getDailyUserRegistrationResult" nillable="true" type="q12:ArrayOfreportDonation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDailyOrganisationRegistration">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getDailyOrganisationRegistrationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Project_Leap_Web_Service" minOccurs="0" name="getDailyOrganisationRegistrationResult" nillable="true" type="q13:ArrayOfreportDonation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserBadgesCount">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserBadgesCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Project_Leap_Web_Service" minOccurs="0" name="getUserBadgesCountResult" nillable="true" type="q14:ArrayOfbadgesReport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getNPORatingReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orgID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getNPORatingReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Project_Leap_Web_Service" minOccurs="0" name="getNPORatingReportResult" nillable="true" type="q15:ArrayOfratingsReport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDonationsForComparison">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orgID" type="xs:int" />
        <xs:element minOccurs="0" name="sortBy" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDonationsForComparisonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Project_Leap_Web_Service" minOccurs="0" name="getDonationsForComparisonResult" nillable="true" type="q16:ArrayOfreportDonation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="chechForNewDonations">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orgID" type="xs:int" />
        <xs:element minOccurs="0" name="lastOnline" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="chechForNewDonationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="chechForNewDonationsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkLiveNewDonations">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orgID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkLiveNewDonationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkLiveNewDonationsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="registerIndividual">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Type" type="xs:int" />
        <xs:element minOccurs="0" name="OrgNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="registerIndividualResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="registerIndividualResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NumberOfTimes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="table" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="province" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NumberOfTimesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NumberOfTimesResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addOrganisation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OrgNumber" type="xs:long" />
        <xs:element minOccurs="0" name="OrgName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Street" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Suburb" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Province" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ContactNum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Industry" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="OrgType" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addOrganisationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addOrganisationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Project_Leap_Web_Service" minOccurs="0" name="CheckDetailsResult" nillable="true" type="q17:UserDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUsers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Project_Leap_Web_Service" minOccurs="0" name="getUsersResult" nillable="true" type="q18:ArrayOfUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getOrganisations">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getOrganisationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Project_Leap_Web_Service" minOccurs="0" name="getOrganisationsResult" nillable="true" type="q19:ArrayOfOrga" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Project_Leap_Web_Service" minOccurs="0" name="getUserResult" nillable="true" type="q20:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteOrg">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ordID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteOrgResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteOrgResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProfile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Project_Leap_Web_Service" minOccurs="0" name="user" nillable="true" type="q21:UserDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProfileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateProfileResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="verifyEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="verifyEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="verifyEmailResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addNewsFeed">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="npoID" type="xs:int" />
        <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="body" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addNewsFeedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addNewsFeedResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFeeds">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFeedsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Project_Leap_Web_Service" minOccurs="0" name="GetFeedsResult" nillable="true" type="q22:ArrayOfNewsF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getNPOWithManager">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NPOManagerID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getNPOWithManagerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getNPOWithManagerResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="eventID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEventResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Project_Leap_Web_Service" minOccurs="0" name="getEventResult" nillable="true" type="q23:Eve" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEvents">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEventsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Project_Leap_Web_Service" minOccurs="0" name="getEventsResult" nillable="true" type="q24:ArrayOfEve" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getNEvents">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="npoID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getNEventsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Project_Leap_Web_Service" minOccurs="0" name="getNEventsResult" nillable="true" type="q25:ArrayOfEve" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Project_Leap_Web_Service" minOccurs="0" name="e" nillable="true" type="q26:Eve" />
        <xs:element minOccurs="0" name="orgID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addEventResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addEventResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addDonationRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Project_Leap_Web_Service" minOccurs="0" name="d" nillable="true" type="q27:DonationRequester" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addDonationRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addDonationRequestResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllDonationRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllDonationRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Project_Leap_Web_Service" minOccurs="0" name="getAllDonationRequestResult" nillable="true" type="q28:ArrayOfDonationRequester" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllNDonationRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="npoID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllNDonationRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Project_Leap_Web_Service" minOccurs="0" name="getAllNDonationRequestResult" nillable="true" type="q29:ArrayOfDonationRequester" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="hasDonatatedReq">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="donationRequID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="hasDonatatedReqResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hasDonatatedReqResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="User_ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdatePasswordResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getUserIDResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addDonation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserId" type="xs:int" />
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Project_Leap_Web_Service" minOccurs="0" name="donation" nillable="true" type="q30:DonationRequester" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addDonationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addDonationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDonation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="donationID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDonationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/Project_Leap_Web_Service" minOccurs="0" name="getDonationResult" nillable="true" type="q31:DonationRequester" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDonationUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDonationUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/Project_Leap_Web_Service" minOccurs="0" name="getDonationUserResult" nillable="true" type="q32:ArrayOfDonationUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getOrg">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="oID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getOrgResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/Project_Leap_Web_Service" minOccurs="0" name="getOrgResult" nillable="true" type="q33:Organisation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDonorEmails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orgID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDonorEmailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getDonorEmailsResult" nillable="true" type="q34:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setRSVP">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/Project_Leap_Web_Service" minOccurs="0" name="rsvp" nillable="true" type="q35:RSVPEvent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setRSVPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="setRSVPResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEventUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEventUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/Project_Leap_Web_Service" minOccurs="0" name="getEventUserResult" nillable="true" type="q36:ArrayOfRSVPEvent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getGetRSVPList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="npoID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getGetRSVPListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/Project_Leap_Web_Service" minOccurs="0" name="getGetRSVPListResult" nillable="true" type="q37:ArrayOfRSVPEvent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setVolunteer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/Project_Leap_Web_Service" minOccurs="0" name="vol" nillable="true" type="q38:EventVolunteer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setVolunteerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="setVolunteerResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getVolunteerUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getVolunteerUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/Project_Leap_Web_Service" minOccurs="0" name="getVolunteerUserResult" nillable="true" type="q39:ArrayOfEventVolunteer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getVolunteers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="npoID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getVolunteersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/Project_Leap_Web_Service" minOccurs="0" name="getVolunteersResult" nillable="true" type="q40:ArrayOfEventVolunteer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CommentOnVolunteer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/Project_Leap_Web_Service" minOccurs="0" name="volunteer" nillable="true" type="q41:EventVolunteer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CommentOnVolunteerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CommentOnVolunteerResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewFundraisingCamp">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/Project_Leap_Web_Service" minOccurs="0" name="newFC" nillable="true" type="q42:cFundraisingCampaign" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewFundraisingCampResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddNewFundraisingCampResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getFundRaisingCampaign">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FC_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getFundRaisingCampaignResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/Project_Leap_Web_Service" minOccurs="0" name="getFundRaisingCampaignResult" nillable="true" type="q43:cFundraisingCampaign" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DonateFC">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FC_ID" type="xs:int" />
        <xs:element minOccurs="0" name="Doner_ID" type="xs:int" />
        <xs:element minOccurs="0" name="Amount" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DonateFCResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DonateFCResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAmountSystemGenerated">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAmountSystemGeneratedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getAmountSystemGeneratedResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getVerificationStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orgNum" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getVerificationStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getVerificationStatusResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPointsInd">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="indID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPointsIndResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getPointsIndResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPointsOrg">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orgID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPointsOrgResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getPointsOrgResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllFundRaisingCampaign">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllFundRaisingCampaignResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/Project_Leap_Web_Service" minOccurs="0" name="getAllFundRaisingCampaignResult" nillable="true" type="q44:ArrayOfcFundraisingCampaign" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getOwnFundraisingCampaigns">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NPOID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getOwnFundraisingCampaignsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/Project_Leap_Web_Service" minOccurs="0" name="getOwnFundraisingCampaignsResult" nillable="true" type="q45:ArrayOfcFundraisingCampaign" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getNPOTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getNPOTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getNPOTypesResult" nillable="true" type="q46:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getNPOofType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getNPOofTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/Project_Leap_Web_Service" minOccurs="0" name="getNPOofTypeResult" nillable="true" type="q47:ArrayOfOrga" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetFeedback">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Rate" type="xs:int" />
        <xs:element minOccurs="0" name="Review" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
        <xs:element minOccurs="0" name="OrgID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetFeedbackResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetFeedbackResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAverageRating">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id_NPO" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAverageRatingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getAverageRatingResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/Project_Leap_Web_Service" minOccurs="0" name="clientFile" nillable="true" type="q48:FileClass" />
        <xs:element minOccurs="0" name="loc" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="setFileResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addUserImage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/Project_Leap_Web_Service" minOccurs="0" name="userImage" nillable="true" type="q49:FileClass" />
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addUserImageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addUserImageResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addOrgImage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/Project_Leap_Web_Service" minOccurs="0" name="orgImage" nillable="true" type="q50:FileClass" />
        <xs:element minOccurs="0" name="orgNum" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addOrgImageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addOrgImageResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addOrgFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/Project_Leap_Web_Service" minOccurs="0" name="orgFile" nillable="true" type="q51:FileClass" />
        <xs:element minOccurs="0" name="ogNum" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addOrgFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addOrgFileResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserImage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserImageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/Project_Leap_Web_Service" minOccurs="0" name="getUserImageResult" nillable="true" type="q52:FileClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orgID" type="xs:int" />
        <xs:element minOccurs="0" name="Image" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/Project_Leap_Web_Service" minOccurs="0" name="getFileResult" nillable="true" type="q53:FileClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="verifyOrg">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OrgID" type="xs:int" />
        <xs:element minOccurs="0" name="verify" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="verifyOrgResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="verifyOrgResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TotalRecievedFromDonations">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OrgID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TotalRecievedFromDonationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TotalRecievedFromDonationsResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TotalDonated">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TotalDonatedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TotalDonatedResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNextEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OrgID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNextEventResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/Project_Leap_Web_Service" minOccurs="0" name="GetNextEventResult" nillable="true" type="q54:mobileEve" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTotalFCProgress">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OrgID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTotalFCProgressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/Project_Leap_Web_Service" minOccurs="0" name="GetTotalFCProgressResult" nillable="true" type="q55:mobileFC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMobileEvents">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OrgID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMobileEventsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/Project_Leap_Web_Service" minOccurs="0" name="GetMobileEventsResult" nillable="true" type="q56:ArrayOfmobileEve" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getNextVolunteer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getNextVolunteerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/Project_Leap_Web_Service" minOccurs="0" name="getNextVolunteerResult" nillable="true" type="q57:EventVolunteer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getNextNPOEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getNextNPOEventResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/Project_Leap_Web_Service" minOccurs="0" name="getNextNPOEventResult" nillable="true" type="q58:mobileEve" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMobileEventsAtt">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMobileEventsAttResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/Project_Leap_Web_Service" minOccurs="0" name="GetMobileEventsAttResult" nillable="true" type="q59:ArrayOfmobileEve" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>